<!--The content below is only a placeholder and can be replaced.-->
<!-- <form class="form-inline" #form="mainForm" (ngSubmit)="setCenter($event)" ac>
  <div class="form-group">
    <input type="text" class="form-control" name="latitude" [(ngModel)]="latitude" placeholder="Enter latitude" required>
  </div>
   <div class="form-group">
    <input type="text" class="form-control" name="longitude" [(ngModel)]="longitude" placeholder="Enter longitude" required>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Go</button>
</form> -->
<app-nav></app-nav>
<router-outlet></router-outlet>
