.col-10{
    margin:0 auto;
    border-left: 0.5px solid #dddddd;
    border-right: 0.5px solid #dddddd;
}
.row{
    border: 1px solid #dddddd;
}
.cat {
    width: 150px;
    height: 100px;
    display: inline-flex;
    margin:2px;
}

.detail {
    width: 250px;
    height: auto;
    display: inline-flex;
    margin:2px;
}
.space {
    padding: 10px 0;
}