<ng-container class="container">
  <div class="cards">
    <div class="row panel">
      <!-- <div class="col-10"> -->
      <img src="../../assets/imgs/sunrise-in-the-mountains-2-1309401.jpg" width="100%" class="rounded-lg">
      <button type="button" class="btn btn-outline-info greet">Prepare-se para descobrir um novo mundo</button>
      <!-- </div> -->
    </div>
    <div class="row">
      <div class="col-10 space">
        <h3 class="center space">O mundo em suas mãos</h3>
        <div class="center space">
          <p>Guia do Mochileiro é site que ajuda aos viajantes a se planejarem com base nas
            dicas, fotos, avaliações e comentários feitos por usuários que já curtiram diversas
            atrações em um determinado destino. Além disso, o serviço também é disponível
            para a plataforma móvel Android. Sendo assim, você pode personalizar sua
            viagem de onde estiver.</p>
          <p>Tanto o site quanto o aplicativo do Guia do Mochileiro são totalmente em português
            e ambos possuem uma interface bonita e fácil de ser utilizada. Basta se conectar
            com uma conta para efetuar buscas de pontos turísticos, restaurantes e dicas de
            destinos pelo mundo inteiro. No serviço web, você pode ainda montar um mapa de
            lugares que já visitou e ver as dicas deixadas por outros usuários.</p>
          <p>Além disso, há fotos e comentários organizados por data de pessoas que já
            visitaram o local. Assim como você pode conferir as dicas deixadas, é permitido
            também que você qualifique e insira suas avaliações de um ponto turístico, destino,
            restaurante, hotel entre outros. E para quem gosta de fóruns, o Guia do Mochileiro
            oferece esta opção para trocar ideias sobre opiniões de uma determinada atração
            ou local.</p>
        </div>
        <!-- <div class="row space">
          <p class="center">Faça o teste agora mesmo escolha uma categoria</p>
        </div> -->
      </div>
    </div>
    <div class="section section-2">
      <div class="row" style="text-align: center">
        <div class="col-12">
          <button type="button" class="btn btn-outline-info greet-off" style="margin: 0 60px;">Conheça nossas
            categorias</button>
        </div>
      </div>
      <div class="row">
        <div class="col-10 space">
          <div class="col-10 d-flex flex-wrap align-content-center">
            <div class="card bg-info text-white cat" *ngFor="let item of categories.response.categories">
              <a routerLink="/search/{{item.name}}" >
              <div class="card-body">
                {{item.name}}
              </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="row space">
        <p class="center">Faça o teste agora mesmo</p>
      </div>
      <div class="row">
        <div class="col-12 space" style="text-align: center">
          <button (click)="moveMap()" [disabled]="loader" class="btn btn-primary">
            <span class="spinner-border spinner-border-sm" *ngIf="loader"></span>
            Surpreenda-se
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-10">
        <div id="map" class="rounded-lg" style="width:100%;height:400px; margin:0 auto;"></div>
      </div>
    </div>
    <div class="row space" *ngIf="results.length && !loader">
      <div class="col-10">
        <div class="row">
          <div class="col-10 space" style="height: 200px; overflow-y: auto; padding: 10px">
            <div class="card detail" *ngFor="let result of results">
              <div class="card-header bg-success text-white">{{result.name}}</div>
              <div class="card-body">
                <p class="card-text" *ngIf="result.description">{{result.description}}.</p>
                <p class="card-text" *ngIf="result.location.address">{{result.location.address}}.</p>
                <p class="card-text" *ngIf="result.popular">Está aberto.</p>

                <!-- <p class="card-text">Distância de {{result.location.distance}} metros</p> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>